.fondo{
	background-color: #3949AB;
	width: 100%;
}
a{
	color: white;
}
a:hover{
	color: white;
	text-decoration: none;
}
.naval{
	margin-left: 10px; 
	margin-right: 10px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}
.naval:hover{
	color: #FB8C00;
}
.naval-tit{
	font-size: 20px;

}
.naval-tit:hover{
	color: white;
}
.descri{
	margin-top: 60px;
	color: white;
	padding-bottom: 60px;
}
.Iconoschidos{
	margin-top: 20px;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.hijoflex{
	margin-left: 40px;
	margin-right: 40px;
}
.login-yea{
	justify-content: center;
	display: flex;
	margin-top: 80px;
	width: 100%;
	flex-wrap: wrap;
}
.btn-azul{
	background-color:#3949AB;
	width: 100%;
	cursor: pointer;
	padding: 5px;
	border: none;
	border-radius: 8px 8px 8px 8px;
	color: white;
}
	.btn-azul:hover{
		background-color: #5E35B1;
	}
@media screen and (max-width: 400px){

	.cardinas{
		width: 95%;
	}

}