.dropdown-menu {
	 min-width: 0rem;
}
.nav-dr{
	display: flex;
	flex-wrap: wrap;
	margin-right: 25px;
}
.barra-exp{
	margin-top: 6px;
	width: 300px;
	height: 30px;
	display:flex;
	background-color: white;
	border-radius: 20px;
}
	.nivel{
		border: 1px solid;
		border-radius: 20px 0px 0px 20px;
		width: 20%;
	}
	.barra{
		width: 80%;
		border:1px solid;
		border-left: 0px;
		border-radius: 0px 20px 20px 0px;
	}
		.xp{
			background-color:#5E35B1;
			width: 60%;
			height: 100%;
		}
.box-class{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
	.boxes{
		width: 300px;
		height: 200px;
		background-color:#7E57C2;
		border-radius: 20px;
		color: white;
		padding-top: 70px;
		margin-left: 20px;
		margin-top: 20px;
	}
.txt-principal{
	color: white;
	margin-left: 20px;
	padding-bottom: 20px;
}
	.niveles{
		width: 160px;
		height: 160px;
		background-color:#7E57C2;
		border-radius: 80px;
		color: white;
		padding-top: 60px;
		margin-left: 20px;
		margin-top: 20px;
		margin-right: 40px;
	}
.turibus{
	display: flex;
	flex-wrap: wrap;
}
	.iz-ex{
		width: 50%;
		margin-top: 80px;
	}
	.dr-ex{
		width: 50%;
		margin-top: 80px;
	}
.juego{
	justify-content: center;
	display: flex;
	margin-top: 100px;
	width: 100%;
}